In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
dates_parse = [
    "order_purchase_timestamp",
    "order_approved_at",
    "order_delivered_carrier_date",
    "order_delivered_customer_date",
    "order_estimated_delivery_date"
]

In [3]:
customers = pd.read_csv('/kaggle/input/brazilian-ecommerce/olist_customers_dataset.csv')
orders = pd.read_csv('/kaggle/input/brazilian-ecommerce/olist_orders_dataset.csv', parse_dates = dates_parse)
order_items = pd.read_csv('/kaggle/input/brazilian-ecommerce/olist_order_items_dataset.csv')
products = pd.read_csv('/kaggle/input/brazilian-ecommerce/olist_products_dataset.csv')
reviews = pd.read_csv('/kaggle/input/brazilian-ecommerce/olist_order_reviews_dataset.csv')
payments = pd.read_csv('/kaggle/input/brazilian-ecommerce/olist_order_payments_dataset.csv')
geolocation = pd.read_csv('/kaggle/input/brazilian-ecommerce/olist_geolocation_dataset.csv')
sellers = pd.read_csv('/kaggle/input/brazilian-ecommerce/olist_sellers_dataset.csv')
category_en = pd.read_csv('/kaggle/input/brazilian-ecommerce/product_category_name_translation.csv')

In [4]:
merged = (
    orders
    .merge(order_items, on = "order_id", how = "left")
    .merge(customers, on = "customer_id", how = "left")
    .merge(sellers, on = "seller_id", how = "left")
    .merge(products, on="product_id", how="left")
    .merge(reviews, on="order_id", how="left")
    .merge(payments, on="order_id", how="left")
)
merged.head(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,payment_sequential,payment_type,payment_installments,payment_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,1.0,87285b34884572647811a353c7ac498a,...,a54f0611adc9ed256b57ede6b6eb5114,4.0,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11 00:00:00,2017-10-12 03:43:48,1.0,credit_card,1.0,18.12
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,1.0,87285b34884572647811a353c7ac498a,...,a54f0611adc9ed256b57ede6b6eb5114,4.0,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11 00:00:00,2017-10-12 03:43:48,3.0,voucher,1.0,2.00
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,1.0,87285b34884572647811a353c7ac498a,...,a54f0611adc9ed256b57ede6b6eb5114,4.0,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11 00:00:00,2017-10-12 03:43:48,2.0,voucher,1.0,18.59
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,1.0,595fac2a385ac33a80bd5114aec74eb8,...,8d5266042046a06655c8db133d120ba5,4.0,Muito boa a loja,Muito bom o produto.,2018-08-08 00:00:00,2018-08-08 18:37:50,1.0,boleto,1.0,141.46
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,1.0,aa4383b373c6aca5d8797843e5594415,...,e73b67b67587f7644d5bd1a52deb1b01,5.0,NaN,NaN,2018-08-18 00:00:00,2018-08-22 19:07:58,1.0,credit_card,3.0,179.12

In [5]:
merged.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date',
       'price', 'freight_value', 'customer_unique_id',
       'customer_zip_code_prefix', 'customer_city', 'customer_state',
       'seller_zip_code_prefix', 'seller_city', 'seller_state',
       'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'review_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value'],
      dtype='object')

In [6]:
# What is the total number of orders handled by each seller?
seller_order_count = (
    merged.groupby("seller_id")["order_id"]
    .nunique()
    .reset_index(name = "order_count")
)
seller_order_count.head(10)

                          seller_id  order_count
0  0015a82c2db000af6aaaf3ae2ecb0532            3
1  001cca7ae9ae17fb1caed9dfb1094831          200
2  001e6ad469a905060d959994f1b41e4f            1
3  002100f778ceb8431b7a1020ff7ab48f           51
4  003554e2dce176b5555353e4f3555ac8            1
5  004c9cd9d87a3c30c522c48c4fc07416          158
6  00720abe85ba0859807595bbf045a33b           13
7  00ab3eff1b5192e5f1a63bcecfee11c8            1
8  00d8b143d12632bad99c0ad66ad52825            1
9  00ee68308b45bc5e2660cd833c3f81cc          135

In [7]:
# Which state has the most sellers fulfilling orders?
most_states_sellers = (
    merged[["seller_id", "seller_state"]]
    .drop_duplicates()
    .groupby("seller_state")["seller_id"]
    .nunique()
    .reset_index(name="unique_sellers")
    .sort_values("unique_sellers", ascending=False)
)
most_states_sellers.head(10)

   seller_state  unique_sellers
22           SP            1849
15           PR             349
8            MG             244
20           SC             190
16           RJ             171
19           RS             129
6            GO              40
4            DF              30
5            ES              23
2            BA              19

In [8]:
# How many orders were placed by customers in each state?
order_placed = (
    merged.groupby("customer_state")["order_id"]
    .nunique()
    .reset_index(name = "order_count")
)
order_placed.head(10)

  customer_state  order_count
0             AC           81
1             AL          413
2             AM          148
3             AP           68
4             BA         3380
5             CE         1336
6             DF         2140
7             ES         2033
8             GO         2020
9             MA          747

In [9]:
# How many unique customers placed orders in each city?
result = (
    merged.groupby("customer_city")["customer_id"]
    .nunique()
    .reset_index(name = "unique_customers")
)
result.head(10)

         customer_city  unique_customers
0  abadia dos dourados                 3
1            abadiania                 1
2               abaete                12
3           abaetetuba                11
4              abaiara                 2
5               abaira                 2
6                abare                 2
7               abatia                 3
8        abdon batista                 1
9         abelardo luz                 6

In [10]:
# Top 10 product categories by number of orders?
result = (
    merged.groupby("product_category_name")["order_id"]
    .nunique()
    .reset_index(name = "order_count")
    .sort_values("order_count", ascending=False)
    .head(10)
)
result

     product_category_name  order_count
13         cama_mesa_banho         9417
11            beleza_saude         8836
32           esporte_lazer         7720
44  informatica_acessorios         6689
54        moveis_decoracao         6449
72   utilidades_domesticas         5884
66      relogios_presentes         5624
70               telefonia         4199
8               automotivo         3897
12              brinquedos         3886

In [11]:
# How many sellers are associated with each product category?
result = (
    merged.groupby("product_category_name")["seller_id"]
    .nunique()
    .reset_index(name = "seller_count")
    .sort_values("seller_count", ascending=False)
)
result.head(10)

     product_category_name  seller_count
11            beleza_saude           492
32           esporte_lazer           481
72   utilidades_domesticas           468
8               automotivo           383
54        moveis_decoracao           370
44  informatica_acessorios           287
26              cool_stuff           267
12              brinquedos           252
9                    bebes           244
40      ferramentas_jardim           237

In [12]:
# What is the total revenue per seller?
result = (
    merged
    .assign(total = merged["price"] + merged["freight_value"])
    .groupby("seller_id")["total"]
    .sum()
    .reset_index(name = "revenue")
)
result.head(10)

                          seller_id   revenue
0  0015a82c2db000af6aaaf3ae2ecb0532   2748.06
1  001cca7ae9ae17fb1caed9dfb1094831  34175.38
2  001e6ad469a905060d959994f1b41e4f    267.94
3  002100f778ceb8431b7a1020ff7ab48f   2141.41
4  003554e2dce176b5555353e4f3555ac8    139.38
5  004c9cd9d87a3c30c522c48c4fc07416  30590.12
6  00720abe85ba0859807595bbf045a33b   1323.48
7  00ab3eff1b5192e5f1a63bcecfee11c8    110.08
8  00d8b143d12632bad99c0ad66ad52825    137.10
9  00ee68308b45bc5e2660cd833c3f81cc  25346.27

In [13]:
# Total revenue per product category?
result = (
    merged
    .assign(total = merged["price"] + merged["freight_value"])
    .groupby("product_category_name")["total"]
    .sum()
    .reset_index(name = "revenue")
)
result.head(10)

       product_category_name    revenue
0  agro_industria_e_comercio   90808.77
1                  alimentos   37649.99
2          alimentos_bebidas   21230.81
3                      artes   28912.99
4         artes_e_artesanato    2184.14
5          artigos_de_festas    5636.43
6           artigos_de_natal   12079.84
7                      audio   58494.16
8                 automotivo  714431.95
9                      bebes  506539.48

In [14]:
# Which sellers contribute to 80% of total revenue (Pareto principle)?
result = (
    merged
    .assign(total = merged["price"] + merged["freight_value"])
    .groupby("seller_id")["total"]
    .sum()
    .reset_index(name = "total_revenue")
    .sort_values("total_revenue", ascending = False)
)

total_revenue = result["total_revenue"].sum()
result["cumulative_revenue"] = result["total_revenue"].cumsum()
result["cumulative_percent"] = np.round((result["cumulative_revenue"] / total_revenue) * 100, 2)
top_80_sellers = result[result["cumulative_percent"] <= 80]
top_80_sellers.shape

(560, 4)

In [15]:
# Top 3 sellers by revenue in each state?
result = (
    merged
    .assign(total = merged["price"] + merged["freight_value"])
    .groupby(["seller_state", "seller_id"])["total"]
    .sum()
    .reset_index(name = "total_revenue")
    .sort_values(by = ["seller_state", "total_revenue"], ascending = [True, False])
)
result["rank"] = (
    result.groupby("seller_state")["total_revenue"]
    .rank(method = "first", ascending = False)
)
result = result[result["rank"] <= 3]
result[["seller_state", "seller_id", "total_revenue"]].head(10)

   seller_state                         seller_id  total_revenue
0            AC  4be2e7f96b4fd749d52dff41f80e39dd         299.84
1            AM  327b89b872c14d1c0be7235ef4871685        1258.80
9            BA  53243585a1d6dc2643021fd1853d8905      258882.28
12           BA  75d34ebb1bd0bd7dde40dd507b8169c3       20926.93
15           BA  c72de06d72748d1a0dfb2125be43ba63       18733.18
27           CE  bbf9ad41dca6603e614efcdad7aab8c4        8622.26
33           CE  dbdd0ec73a4817971d962698f2fea022        8174.80
26           CE  8d79c8a04e42d722a75097ce5cbcf2ef        3894.08
44           DF  44073f8b7e41514de3b7815dd0237f4f       22490.77
63           DF  f3b80352b986ab4d1057a4b724be19d0       13516.57

In [16]:
# Rank all sellers globally by total revenue?
result = (
    merged
    .assign(total = merged["price"] + merged["freight_value"])
    .groupby("seller_id")["total"]
    .sum()
    .reset_index(name = "revenue")
    .sort_values("revenue", ascending = False)
)
result["rank"] = result["revenue"].rank(method = "first", ascending = False)
result.head(10)

                             seller_id    revenue  rank
1013  53243585a1d6dc2643021fd1853d8905  258882.28   1.0
857   4869f7a5dfa277a7dca6462dcf3b52b2  258625.52   2.0
1535  7c67e1448b00f6e969d365cea6b010ab  254387.70   3.0
881   4a3ca9315b744ce9f8e9374361493884  253535.64   4.0
3024  fa1c13f2614d7b5c4749cbc52fecda94  214454.82   5.0
2643  da8622b14eb17ae2831f4ac5b9dab84a  198621.24   6.0
1560  7e93a43ef30c4f03f38b393420bc753a  189475.90   7.0
192   1025f0e2d44d7041d6cf58b6550e0bfa  178696.05   8.0
1505  7a67c85e85bb2ce8582c35f2203ad736  172887.23   9.0
1824  955fee9216a65b617aa5c0531780ce60  163275.71  10.0

In [17]:
# What is the revenue share of each product category?
result = (
    merged
    .assign(total = merged["price"] + merged["freight_value"])
    .groupby("product_category_name")["total"]
    .sum()
    .reset_index(name = "revenue")
    .sort_values("revenue", ascending = False)
)

total_revenue = result["revenue"].sum()
result["revenue_share"] = np.round(100 * result["revenue"] / total_revenue, 2)
result.head(10)

     product_category_name     revenue  revenue_share
11            beleza_saude  1491397.76           9.08
66      relogios_presentes  1358845.59           8.28
13         cama_mesa_banho  1327662.02           8.09
32           esporte_lazer  1205197.85           7.34
44  informatica_acessorios  1104362.03           6.73
54        moveis_decoracao   955367.22           5.82
72   utilidades_domesticas   823623.50           5.02
26              cool_stuff   752702.21           4.58
8               automotivo   714431.95           4.35
40      ferramentas_jardim   625387.31           3.81

In [18]:
# Which product categories have the longest average delivery time?
valid_delivered_orders = merged.dropna(subset = ["order_approved_at", "order_delivered_customer_date"]).copy()
valid_delivered_orders = valid_delivered_orders[valid_delivered_orders["order_delivered_customer_date"] >= valid_delivered_orders["order_approved_at"]]

result = (
    valid_delivered_orders
    .assign(
        delivery_time = (
            (valid_delivered_orders["order_delivered_customer_date"] - valid_delivered_orders["order_approved_at"])
        .dt.total_seconds() / (3600 * 24)))
    .groupby("product_category_name")["delivery_time"]
    .mean()
    .reset_index(name = "avg_delivery_time")
    .sort_values("avg_delivery_time", ascending = False)
)
result.head(10)

        product_category_name  avg_delivery_time
55          moveis_escritorio          20.343415
6            artigos_de_natal          15.327274
34           fashion_calcados          14.988248
67         seguros_e_servicos          14.399462
15            casa_conforto_2          13.954851
52  moveis_colchao_e_estofado          13.930543
57                moveis_sala          13.692697
40         ferramentas_jardim          13.261725
29         eletrodomesticos_2          13.156264
20             consoles_games          13.153326

In [19]:
# Which states have the highest percentage of late deliveries?
valid_orders = merged.dropna(subset = ["order_estimated_delivery_date", "order_delivered_customer_date"]).copy()
valid_orders["is_late"] = (valid_orders["order_delivered_customer_date"] > valid_orders["order_estimated_delivery_date"]).astype(int)

result = (
    valid_orders
    .groupby("customer_state")
    .agg(
        total_orders=("order_id", "count"),
        late_orders=("is_late", "sum")
    )
    .reset_index()
)
result["percentage_late_delivery"] = np.round(100 * result["late_orders"] / result["total_orders"], 2)
result.sort_values("percentage_late_delivery", ascending = False).head(10)

   customer_state  total_orders  late_orders  percentage_late_delivery
1              AL           445          109                     24.49
9              MA           823          166                     20.17
16             PI           554           88                     15.88
24             SE           386           61                     15.80
5              CE          1504          226                     15.03
4              BA          3950          543                     13.75
18             RJ         14966         1936                     12.94
13             PA          1097          135                     12.31
7              ES          2318          281                     12.12
19             RN           563           65                     11.55

In [20]:
# Rank sellers by average review score?
result = (
    merged.groupby("seller_id")["review_score"]
    .mean().round(2)
    .reset_index(name = "avg_review_score")
    .sort_values("avg_review_score", ascending = False)
)
result["rank_review"] = result["avg_review_score"].rank(method = "first", ascending = False)
result.head(10)

                             seller_id  avg_review_score  rank_review
2351  c3251e13f1bbda6c74e37c160f991e19               5.0          1.0
677   3986c0b54f6b748b75e7bd4e092aa3e5               5.0          2.0
679   39a5005f2605cbdb4f9ac14485cabfd1               5.0          3.0
1816  94d76e96eedd976258cd3278ce56d5f2               5.0          4.0
1815  94ca168e8bcb407ab85c5da308863027               5.0          5.0
1805  93bef6edaa84956e8e575016449b6351               5.0          6.0
1801  934ed5cd1b9c1c7382d0a94a94b9e639               5.0          7.0
1795  929f342384a6607afe143d789ade1316               5.0          8.0
694   3ac588cd562971392504a9e17130c40b               5.0          9.0
698   3b18f9856c6eb2413eafedb58e9eecd9               5.0         10.0

In [21]:
# Which product categories have the best average review scores?
result = (
    merged.groupby("product_category_name")["review_score"]
    .mean().round(2)
    .reset_index(name = "avg_review_score")
    .sort_values("avg_review_score", ascending = False)
)
result.head(10)

                 product_category_name  avg_review_score
17                   cds_dvds_musicais              4.64
37       fashion_roupa_infanto_juvenil              4.50
48              livros_interesse_geral              4.44
22  construcao_ferramentas_ferramentas              4.42
41                              flores              4.42
47                   livros_importados              4.42
49                     livros_tecnicos              4.38
64         portateis_casa_forno_e_cafe              4.32
2                    alimentos_bebidas              4.32
50                    malas_acessorios              4.30

In [22]:
# How many orders per seller received reviews below 3?
valid_orders = merged[(merged["review_score"].notna()) & (merged["review_score"] < 3)]
valid_orders = valid_orders.drop_duplicates(subset=["seller_id", "order_id"])

result = (
    valid_orders
    .groupby("seller_id")
    .agg(low_rating_orders=("order_id", "count"))
    .reset_index()
    .sort_values("low_rating_orders", ascending=False)
)

result.head(10)

/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less
  return op(a, b)

                             seller_id  low_rating_orders
533   4a3ca9315b744ce9f8e9374361493884                344
752   6560211a19b47992c3666cc44a7e94c0                319
1522  cc419e0650a3c5ba77189a1882b7556a                257
938   7c67e1448b00f6e969d365cea6b010ab                253
231   1f50f920176fa81dab994f9023523100                198
1745  ea8482cd71df3c1969d7b9473ff13abc                176
116   1025f0e2d44d7041d6cf58b6550e0bfa                159
1624  da8622b14eb17ae2831f4ac5b9dab84a                157
522   4869f7a5dfa277a7dca6462dcf3b52b2                152
1125  955fee9216a65b617aa5c0531780ce60                146

In [23]:
# Which states contribute to 70% of total revenue?
result = (
    merged
    .assign(total = merged["price"] + merged["freight_value"])
    .groupby("customer_state")["total"]
    .sum()
    .reset_index(name = "revenue")
    .sort_values("revenue", ascending = False)
)
total_revenue = result["revenue"].sum()
result["cumulative_revenue"] = result["revenue"].cumsum()
result["state_revenue_perc"] = np.round(100 * result["cumulative_revenue"] / total_revenue, 2)
result = result[result["state_revenue_perc"] <= 70]
result.head(10)

   customer_state     revenue  cumulative_revenue  state_revenue_perc
25             SP  6234533.82          6234533.82               37.46
18             RJ  2247128.32          8481662.14               50.96
10             MG  1928571.09         10410233.23               62.55
22             RS   934286.75         11344519.98               68.16

In [24]:
# Top 3 sellers in each state based on revenue (RANK per state).
result = (
    merged
    .assign(total = merged["price"] + merged["freight_value"])
    .groupby(["seller_state", "seller_id"])["total"]
    .sum()
    .reset_index(name = "revenue")
    .sort_values(by = ["seller_state", "revenue"], ascending = [True, False])
)

result["rank_state"] = (
    result.groupby("seller_state")["revenue"]
    .rank(method = "first", ascending = False)
)

result.head(10)

   seller_state                         seller_id    revenue  rank_state
0            AC  4be2e7f96b4fd749d52dff41f80e39dd     299.84         1.0
1            AM  327b89b872c14d1c0be7235ef4871685    1258.80         1.0
9            BA  53243585a1d6dc2643021fd1853d8905  258882.28         1.0
12           BA  75d34ebb1bd0bd7dde40dd507b8169c3   20926.93         2.0
15           BA  c72de06d72748d1a0dfb2125be43ba63   18733.18         3.0
16           BA  d03698c2efd04a549382afa6623e27fb   18641.63         4.0
7            BA  4aba391bc3b88717ce08eb11e44937b2    8575.49         5.0
13           BA  a3dd39f583bc80bd8c5901c95878921e    6439.04         6.0
2            BA  1444c08e64d55fb3c25f0f09c07ffcf2    2818.74         7.0
17           BA  d2e753bb80b7d4faa77483ed00edc8ca    1893.70         8.0

In [25]:
# Identify sellers with unusually high cancellation rates (outlier detection).
cancelled_orders = merged
result = (
    merged
    .assign(is_cancelled = (merged["order_status"] == "canceled").astype(int))
    .groupby("seller_id")["is_cancelled"]
    .sum()
    .reset_index(name = "cancelled_order")
)
result.head(10)

                          seller_id  cancelled_order
0  0015a82c2db000af6aaaf3ae2ecb0532                0
1  001cca7ae9ae17fb1caed9dfb1094831                0
2  001e6ad469a905060d959994f1b41e4f                1
3  002100f778ceb8431b7a1020ff7ab48f                0
4  003554e2dce176b5555353e4f3555ac8                0
5  004c9cd9d87a3c30c522c48c4fc07416                0
6  00720abe85ba0859807595bbf045a33b                0
7  00ab3eff1b5192e5f1a63bcecfee11c8                0
8  00d8b143d12632bad99c0ad66ad52825                0
9  00ee68308b45bc5e2660cd833c3f81cc                0

In [26]:
# Which customers ordered from the same seller more than 3 times?
result = (
    merged.groupby(["customer_id", "seller_id"])["order_id"]
    .nunique()
    .reset_index(name = "order_count")
)
result = result[result["order_count"] > 3]
result.head(10)

Empty DataFrame
Columns: [customer_id, seller_id, order_count]
Index: []

In [37]:
# Which states have the highest repeat customer rate?
result = (
    merged.groupby(["customer_state", "customer_id"])["order_id"]
    .nunique()
    .reset_index(name = "order_count")
)

result_extend = (
    result
    .assign(is_repeater=lambda df: df["order_count"] > 1)
    .groupby("customer_state")
    .agg(
        total_customers = ("customer_id", "count"),
        repeat_customers = ("is_repeater", "sum")
    )
    .assign(repeat_rate=lambda df: round(100 * df["repeat_customers"] / df["total_customers"], 2))
    .sort_values("repeat_rate", ascending = False)
)

result_extend.head(10)

                total_customers  repeat_customers  repeat_rate
customer_state
AC                           81                 0          0.0
PB                          536                 0          0.0
SP                        41746                 0          0.0
SE                          350                 0          0.0
SC                         3637                 0          0.0
RS                         5466                 0          0.0
RR                           46                 0          0.0
RO                          253                 0          0.0
RN                          485                 0          0.0
RJ                        12852                 0          0.0

In [46]:
# Which product categories have the highest revenue-to-weight ratio?
result = (
    merged
    .assign(revenue = lambda df: df["price"] + df["freight_value"])
    .groupby("product_category_name")
    .agg(
        category_weight = ("product_weight_g", "sum"),
        total_revenue = ("revenue", "sum")
    )
    .assign(revenue_weight_ratio = lambda df: round(100 * df["total_revenue"] / df["category_weight"], 2))
    .sort_values("revenue_weight_ratio", ascending = False)
)
result.head(10)

,category_weight,total_revenue,revenue_weight_ratio
product_category_name,,,
telefonia_fixa,153183.0,66526.20,43.43
relogios_presentes,3599751.0,1358845.59,37.75
consoles_games,540308.0,187551.16,34.71
tablets_impressao_imagem,26505.0,9140.68,34.49
telefonia,1237106.0,413871.98,33.45
fashion_underwear_e_moda_praia,38725.0,12419.06,32.07
fashion_roupa_infanto_juvenil,2120.0,665.36,31.38
construcao_ferramentas_seguranca,157386.0,45966.24,29.21
perfumaria,1707027.0,471766.76,27.64
fashion_esporte,10400.0,2736.73,26.31

In [49]:
# Which categories contribute 80% of total order value (Pareto)?
result = (
    merged
    .assign(revenue = merged["price"] + merged["freight_value"])
    .groupby("product_category_name")["revenue"]
    .sum()
    .reset_index(name = "total_revenue")
    .sort_values("total_revenue", ascending = False)
)

total_revenue = result["total_revenue"].sum()
result["cumulative_revenue"] = result["total_revenue"].cumsum()
result["cumulative_percent"] = np.round((result["cumulative_revenue"] / total_revenue) * 100, 2)
top_80_categories = result[result["cumulative_percent"] <= 80]
top_80_categories

,product_category_name,total_revenue,cumulative_revenue,cumulative_percent
11,beleza_saude,1491397.76,1491397.76,9.08
66,relogios_presentes,1358845.59,2850243.35,17.36
13,cama_mesa_banho,1327662.02,4177905.37,25.44
32,esporte_lazer,1205197.85,5383103.22,32.78
44,informatica_acessorios,1104362.03,6487465.25,39.51
54,moveis_decoracao,955367.22,7442832.47,45.33
72,utilidades_domesticas,823623.50,8266455.97,50.34
26,cool_stuff,752702.21,9019158.18,54.92
8,automotivo,714431.95,9733590.13,59.28
40,ferramentas_jardim,625387.31,10358977.44,63.08
12,brinquedos,582218.11,10941195.55,66.63
9,bebes,506539.48,11447735.03,69.71
62,perfumaria,471766.76,11919501.79,72.59
70,telefonia,413871.98,12333373.77,75.11
55,moveis_escritorio,359171.62,12692545.39,77.29
59,papelaria,288342.44,12980887.83,79.05

In [58]:
# Weighted average review score per seller (weighted by revenue).
result = (
    merged
    .assign(
        revenue = merged["price"] + merged["freight_value"],
        weighted_score = lambda df: df["review_score"] * (df["price"] + df["freight_value"])
    )
    .groupby("seller_id")
    .agg(
        total_weighted_score = ("weighted_score", "sum"),
        total_revenue = ("revenue", "sum")
    )
    .assign(weighted_avg = lambda df: round(df["total_weighted_score"] / df["total_revenue"], 2))
    .sort_values("weighted_avg", ascending = False)
)
result.head(10)

,total_weighted_score,total_revenue,weighted_avg
seller_id,,,
be67f78487e2cecb0d55bc769709e4f5,628.20,125.64,5.0
2063dd1b9f568df1c16741ea7d3e6adb,4101.35,820.27,5.0
615c3462099ffa940d37b17dfda19594,1305.25,261.05,5.0
6025c79c035c3d772133b8b8238463b2,5491.65,1098.33,5.0
2039c5e51785b5dde7cf93ccb3b7be2c,868.40,173.68,5.0
204b4e07bddef3c9b317f70189135b22,440.65,88.13,5.0
5f5a58930c3c35f3b5af264f34fb8c85,3938.75,787.75,5.0
5f57db27027655e6c6a391601daa0258,755.20,151.04,5.0
2075d8cd4dd63ff12df0749a5866bb06,1211.15,242.23,5.0
666658b8da8370f30e1f89893b1de5e6,1606.70,321.34,5.0

In [66]:
# Which sellers have the highest proportion of 1-star reviews?
result = (
    merged[merged["review_score"].notna()]
    .assign(is_one_star = lambda df: (df["review_score"] == 1).astype(int))
    .groupby("seller_id")
    .agg(
        one_star_review = ("is_one_star", "sum"),
        total_review = ("review_score", "count")
    )
    .assign(review_proportion = lambda df: round((df["one_star_review"] / df["total_review"]) * 100, 2))
    .sort_values("review_proportion", ascending = False)
)
result.head(10)

,one_star_review,total_review,review_proportion
seller_id,,,
67e43d802fde8cfd3f9580124f8167d1,3,3,100.0
ca5832c6960267b71041f74bb39e8b12,1,1,100.0
9523fb39dd240aa958e040f8183d64f3,1,1,100.0
cc1f04647be106ba74e62b21f358af25,1,1,100.0
9591fc341b1bfb7ef561e2968ec6e011,1,1,100.0
9599519be538b98748162a2b48248960,3,3,100.0
cb4a705d00e100b9732d0ca34817d441,2,2,100.0
56a8b450e802502ba53a9885ee38e29f,1,1,100.0
96f7c797de9ca20efbe14545bed63eec,3,3,100.0
42d4b7e70819438f5ada61c965e92d7e,3,3,100.0

In [70]:
# Which states have the worst average delivery delays?
valid_orders = merged.dropna(subset = ["order_estimated_delivery_date", "order_delivered_customer_date"]).copy()
valid_orders = merged[merged["order_delivered_customer_date"] > merged["order_estimated_delivery_date"]]

result = (
    valid_orders
    .assign(
        delivery_time = (
            (valid_delivered_orders["order_delivered_customer_date"] - valid_delivered_orders["order_estimated_delivery_date"])
        .dt.total_seconds() / (3600 * 24)))
    .groupby("customer_state")["delivery_time"]
    .mean()
    .round(2)
    .reset_index(name = "avg_delay")
    .sort_values("avg_delay", ascending = False)
)
result.head(10)

   customer_state  avg_delay
3              AP      72.82
21             RR      37.09
0              AC      19.03
2              AM      18.19
24             SE      15.25
5              CE      13.85
19             RN      13.51
18             RJ      12.58
13             PA      11.95
16             PI      11.45

In [74]:
# Which states have the best avg delivery on time?
valid_orders = merged.dropna(subset=["order_approved_at", "order_delivered_customer_date"]).copy()
valid_orders = valid_orders[valid_orders["order_delivered_customer_date"] > valid_orders["order_approved_at"]]

result = (
    valid_orders
    .assign(
        delivery_time=(
            (valid_orders["order_delivered_customer_date"] - valid_orders["order_approved_at"])
            .dt.total_seconds() / (3600 * 24)
        )
    )
    .groupby("customer_state")["delivery_time"]
    .mean()
    .round(2)
    .reset_index(name="avg_delivery")
    .sort_values("avg_delivery", ascending = True)
)
result.head(10)

   customer_state  avg_delivery
25             SP          8.34
17             PR         11.53
10             MG         11.55
6              DF         12.53
23             SC         14.52
22             RS         14.69
8              GO         14.83
18             RJ         14.84
11             MS         15.07
7              ES         15.25

In [78]:
# Detect cities with unusually high delivery delays (outliers).
valid_orders = merged.dropna(subset = ["order_estimated_delivery_date", "order_delivered_customer_date"]).copy()
valid_orders = merged[merged["order_delivered_customer_date"] > merged["order_estimated_delivery_date"]]

result = (
    valid_orders
    .assign(
        delivery_time = (
            (valid_delivered_orders["order_delivered_customer_date"] - valid_delivered_orders["order_estimated_delivery_date"])
        .dt.total_seconds() / (3600 * 24)))
    .groupby("customer_city")["delivery_time"]
    .sum()
    .round(2)
    .reset_index(name = "total_delay")
)

q1 = result["total_delay"].quantile(0.25)
q3 = result["total_delay"].quantile(0.75)

iqr = (q3 - q1)

lower_bound = q1 - iqr * 1.5
upper_bound = q3 + iqr * 1.5

outliers = result[(result["total_delay"] < lower_bound) & (result["total_delay"] > upper_bound)]
outliers.head(10)

Empty DataFrame
Columns: [customer_city, total_delay]
Index: []